PLAYWRIGHT_BASE_URL=
PLAYWRIGHT_API_URL=
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=
NEXT_PUBLIC_MIDTRANS_IS_PRODUCTION=

E2E_CLIENT_EMAIL=
E2E_CLIENT_PASSWORD=
E2E_CONSULTANT_EMAIL=
E2E_CONSULTANT_PASSWORD=
E2E_ADMIN_EMAIL=
E2E_ADMIN_PASSWORD=

E2E_ENABLE_BOOKING=
E2E_ENABLE_AI=
E2E_ENABLE_SCHEDULE_SAVE=
E2E_PAYMENT_REQUEST_ID=

E2E_WEB_SERVER_COMMAND=