APP_ENV=
APP_NAME=

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_JWT_SECRET=
SUPABASE_PORTOFOLIO_BUCKET=
SUPABASE_ANON_KEY=
SUPABASE_BERKAS_PENDUKUNG_BUCKET= 

IMGBB_API_KEY=

FRONTEND_URL=

MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=

PASAL_API_TOKEN=
GOOGLE_API_KEY=
VOYAGE_API_KEY=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=